{% extends "base_generic.html" %}

{% block content %}
{% if not user.is_authenticated %}
    <meta http-equiv="refresh" content="1; URL={% url 'login'%}" />
{% else %}
    <h1>Электоная картотека</h1>    
    <strong>Елена Петровская, директор Медицинского информационно-аналитического центра Челябинской области:</strong> «Внедрение этой системы до сих пор идёт, это непрерывный процесс. Осуществляется он неравномерно: где-то быстро, где-то чуть медленнее. Зависит это, конечно, от материально-технической базы и персонала, который в этой системе работает».<br><br>
    Чтобы пользоваться системой, медицинские работники прошли обучение, но с момента её внедрения прошло уже 6 лет: за это время менялись кадры, в системе появились новые возможности, поэтому процесс обучения идёт непрерывно. Он может проходить как дистанционно, так и на базе Медицинского информационно-аналитического центра в Магнитогорске.<br><br>
    <strong>Елена Петровская, директор Медицинского информационно-аналитического центра Челябиской области:</strong> «На самом деле это очень большая и мощная медицинская информационная система. Она даёт возможность вести электронные медицинские карты и истории болезни». <br><br>
    <strong>Елена Петровская, директор Медицинского информационно-аналитического центра Челябинской области:</strong> «Например, если человек лечился в Магнитогорск, а потом переехал в Челябинск, то врачи могут посмотреть, с чем он обращался в лечебное учреждение и какое медикаментозное лечение он получал. Иногда пациенты просто забывают некоторые детали. Даже если спросить, сколько лет человек страдает сахарным диабетом, многие затрудняются ответить».<br>
    <strong></strong>
    <strong></strong>
{% endif %} 
{% endblock %}