{% extends "base_generic.html" %}

{% block content %}
{% if user.is_authenticated %}
  <h1>{{ doctor.name }}</h1>
  {{doctor.doc_specialty}},
  {% if doctor.qualification == '0' %}
    высшая квалификационная категория
  {% elif doctor.qualification == '1' %}
    первая квалификационная категория
  {% elif doctor.qualification == '2' %}
    вторая квалификационная категория
  {% endif %}
  <div style="margin-left:20px;margin-top:20px">
    <h4>История пациентов</h4>
    {% for copy in doctor.treatment_history_set.all %}
      <hr>
      <p><strong><a href="{% url 'treatment_history_detail' copy.pk %}">{{copy}}</a></strong></p>   
    {% endfor %}
  </div>
  <a href="{% url 'doctors' 'all' %}">Вернуться</a>
{% else %}
  <meta http-equiv="refresh" content="1; URL={% url 'login'%}" />
{% endif %}
{% endblock %}
