{% extends "base_generic.html" %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Список пациентов</h1>    
    <div class="filter">
      <form>      
        <select name="java-navigator" onchange="top.location.href = this.options[this.selectedIndex].value;">
          <option value="">фильтр</option>
          <option value="all">Все</option>
          <option value="t">Лечится</option>
          <option value="c">Вылечился</option>
          <option value="h">Направлен в стационар</option>
          <option value="d">Умер</option>
        </select>      
      </form>
      <a href="{% url 'pacient_create' %}">Добавить пациента</a> 
    </div>
    {% if object_list %}
    <ul>

      {% for pac in object_list %}
      <li>
        <a href="{{ pac.get_absolute_url }}">{{ pac.name }}</a> 
        (
          {% if pac.condition == 't' %} лечится {% endif %} 
          {% if pac.condition == 'c' %} вылечился {% endif %} 
          {% if pac.condition == 'h' %} направлен в стационар {% endif %} 
          {% if pac.condition == 'd' %} умер {% endif %} 
        )
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Здесь нет ни одного пациента</p>
    {% endif %} 
{% else %}
  Вы не залогинены на этом сайте <u><a href="{% url 'login'%}?next={{request.path}}">залогиниться</a></u>
{% endif %}  
{% endblock %}